{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;" -->

<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
    body {
        background-color: #ffe8d2;
        /* font-family: 'Montserrat', sans-serif */
    }

    .card {
        border: none
    }

    .logo {
        background-color: #eeeeeea8
    }

    .totals tr td {
        font-size: 14px
    }

    .footer {
        background-color: #eeeeeea8
    }

    .footer span {
        font-size: 12px
    }

    .product-qty span {
        font-size: 12px;
        color: #dedbdb
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-center logo p-3 text-success">
                    <h2>OSWALDTRUZ</h2>
                    <span style="font-weight: 600;">Matter of choice</span>
                </div>
                <div class="invoice p-5">
                    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello,
                        {{order.full_name}}</span> <span>You order has been confirmed and will be shipped in next two
                        days!</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span>
                                            <span>{{order.created_at}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order No</span>
                                            <span>{{order.order_number}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><img
                                                    src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20" /></span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Shiping Address</span>
                                            <span>{{order.full_address}} {{order.city}}, {{order.state}}
                                                {{order.country}} </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>

                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>

                                {% for item in order_detail %}
                                <tr>

                                    <td><img src="{{ item.product.images.url }}" class="img-sm"></td>
                                    <td>
                                        <h5 class="tect-bold">{{item.product.product_name}}</h5>
                                        <p class="text-muted small">
                                            {% if item.variations.all %}
                                            {% for i in item.variations.all %}
                                            {{ i.variation_category | capfirst }} :
                                            {{ i.variation_value |capfirst }} <br>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td class="text-center">{{item.quantity}}</td>
                                    <td class="text-center">₹ {{item.product_price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>₹{{subtotal}}0</span> </div>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                        </td> -->
                                    <!-- <td>
                                            <div class="text-right"> <span>$22</span> </div>
                                        </td> -->
                                    <!-- </tr> -->
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>₹{{order.tax}}</span> </div>
                                        </td>
                                    </tr>
                                    <!-- <tr> -->
                                    <!-- <td>
                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                        </td> -->
                                    <!-- <td>
                                            <div class="text-right"> <span class="text-success">$168.50</span> </div>
                                        </td> -->
                                    <!-- </tr> -->
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Grand total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span
                                                    class="font-weight-bold">₹{{order.order_total}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Oswaldtruz Team</span>
                </div>
                <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a
                            href="mailto:info@oswaldtruz.in"> help
                            center</a></span> <span>{{order.created_at}}</span> </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}